<!DOCTYPE html>
<html>
<head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/album/album.css">
            <title>OCTess - Download</title>

            <!-- Favicons -->
  <link href="static/img/eye.svg" rel="icon">
  <link href="static/img/eye.svg" rel="apple-touch-icon">
  {% block content %}

  {% if status != 2 %}
  <meta http-equiv="refresh" content="4">

  {% endif %}

</head>


<body>
  <header class="site-header">
        <nav class="navbar navbar-expand-md fixed-top">
          <div class="container">

            <a class="navbar-brand mr-4" href="/">OCTess</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">

              <div class="navbar-nav mr-auto"></div>
            </div>
          </div>
        </nav>
  </header>

  <div class = "container">
        <main role="main" class="container">
            <section class="jumbotron text-center">
        
                <div class="container">

                  {% if status == 0 %}

                  <p> Processesing will begin shortly.<br><br> Refresh the page to see if your excel sheet is ready.</p>

                  {% elif status == 1 %}

                  <p> Processing complete. Extraction underway. {{ i }} completed so far. Please wait.<br><br> Refresh the page to see if your excel sheet is ready.</p>

                  {% elif status == 2 %}
                  
                  <p> Extraction complete.</p>
                  <br><br>
                  <a href="/return-file" target="blank">
                    <button type="submit" name="S2L" class="btn btn-primary my-2">Download your Excel sheet</button>
                  </a>

                  
                  {% elif status == 4 %}

                  <p> Processing underway. {{ k }} processed so far. Extraction next. Please wait.<br><br> Refresh the page to see if your excel sheet is ready.</p>


                  {% else %}

                  <p> Something went wrong.<br><br> Please return to the home page and try again.</p>

                 
                  {% endif %}

                </div>
            
            
            </section>
    

        </main>
    </div>

    {% endblock %}
</body>
</html>
